.placement-cont{
    animation: 2s ease 0s 1 normal none running fadein;
}

.header-subtitle{
    font-size: 45px;
    text-align: center;   
    word-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 30px;
    color:  #adadad;;
}

.board-ships-container{
    display: flex;
    justify-content: space-evenly;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media only screen and (max-width: 1060px) {

    .board-ships-container{
        display: block;
        justify-content: space-evenly;
    }
}