.header-subtitle{
    font-size: 45px;
    text-align: center;   
    word-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 30px;
    color:  #adadad;;
}

.board-ships-container{
    display: flex;
    justify-content: space-evenly;
}