.coments{
    margin: auto;
    text-align: center;
    width: 70%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1rem;
    background: linear-gradient(90deg, rgb(55, 55, 55) 0%, rgb(41, 41, 41) 29%, rgb(41, 41, 41) 76%, rgb(56, 56, 56) 100%);
    font-family: "Special Elite", monospace;
    font-size: 1.4rem;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #adadad;;
}