.boards-container{
    position: relative;
    width: 100%;

    .board-container{
        position: absolute;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        left: 0px;
        right: 0px;

        .board-grid{
            display: grid;
            position: relative;
            margin: 0px auto;
            grid-template-rows: repeat(10, 3rem);
            grid-template-columns: repeat(10, 3rem);
            grid-template-areas: none;
            text-align: center;
            gap: 1px;
        
            .cell{
                border: 1px solid gray;
                height: 100%;
                width: 100%;
            }
        
        }
    }
}


