.battle-cont{
    animation: 2s ease 0s 1 normal none running fadein;
}

.boards-battle-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.test{
    flex-basis: 48%;
}

.waters{
    text-align: center;
    color: #a4a5a6;

    &.f{
        color: #728ba5;
    }

    &.e{
        color: #a57272;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}