.boards-container{
    position: relative;
    width: 100%;
    flex-basis: 60%;

    .board-container{
        position: absolute;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        left: 0px;
        right: 0px;

        .board-grid{
            display: grid;
            position: relative;
            margin: 0px auto;
            grid-template-rows: repeat(10, 2.9rem);
            grid-template-columns: repeat(10, 2.9rem);
            grid-template-areas: none;
            text-align: center;
            gap: 1px;
        }
    
    }
}


