.ships-container{
    border: 1px solid ;
    flex-basis: 40%;
    padding: 20px;

    .ship{
        margin-bottom: 5px;
        width: 15rem;
    }
    .randomin{
        width: fit-content;
        border-style: none;
        background-color: black;
        color: aliceblue;
        display: block;
        margin: 20px;
        margin-left: 80%;
        padding: 15px 20px;
        border-radius: 3px;
    }
}