.axis{
    width: fit-content;
    border-style: none;
    background-color: black;
    color: aliceblue;
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;
    border-radius: 3px;
}